
body {
	background-color: #CFFFE5;
}

h1, h2 {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-family: "Lucida Console", Courier, monospace;
}

.footer{ 
  position: fixed;     
  text-align: center;    
  bottom: 0px; 
  width: 100%;
}
